/*
	이 문서는 전반적인 페이지에서 쓰일 css 입니다.
	@author leeseul kim
	@since 25th May 2020
	@update 
	
*/
* {
	margin: 0;
	padding: 0;
	overflow-y: none;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
	display: none; /*Chrome, Safari, Opera*/
}

#header-wrap {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-bottom: solid 1px grey;
}

#contents-wrap {
	/* background-color: #F3F0F7; */
	background-color: #fefefe;
	padding-top: 70px;
}

#footer-wrap {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #F3F0F7;
}

.header {
	width: 900px;
	height: 68px;
	margin: 0 auto; /* border: solid 1px black; */
}

.logobox {
	float: left;
	width: 300px;
	height: 100%;
	line-height: 60px;
	padding-top: 5px;
	margin-right: 5px;
	text-align: center;
	/* border: dashed 1px gray; */
}

.div_logo {
	margin: 0 auto;
}

.searchbox {
	float: left;
	width: 300px;
	height: 42px;
	padding-top: 8px;
	line-height: 50px;
	margin-left: 5px;
	text-align: center;
}

.searchinput {
	box-sizing: border-box;
	width: 100%;
	height: 42px;
	padding: 7px;
	font-size: 16px;
}

.iconsbox {
	float: right;
	width: 250px;
	height: 100%;
	line-height: 60px;
	padding-top: 8px;
	margin-left: 5px;
	text-align: right;
}

.contents {
	width: 900px;
	height: 2000px;
	margin: 0 auto;
	/* text-align: center; */
	font-size: 100px; /* border: solid 1px black; */
	line-height: 2000px;
}

.posts_area {
	float: left;
	width: 640px;
	height: 100%;
	text-align: center;
	/* 	border-right: dashed 1px black; */
}

.info_area {
	position: fixed;
	float: right;
	width: 300px;
	height: 100%;
	margin: 0 auto;
	margin-left: 600px;
}

.footer {
	width: 900px;
	height: 80px;
	margin: 0px auto; /* border: solid 1px black; */
}

.span_icons { /*float: left;*/
	display: inline-block;
	width: 47px;
	padding: 5px 7px;
}

.iconimg {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	/* background-position: -233px -344px;
	background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_c14ffe44a4f6.png/c14ffe44a4f6.png); */
}

.butt {
	border: 0;
	outline: none;
	background-color: transparent;
}

.div_activity {
	width: 100%;
	border-bottom: solid 1px black;
	height: 100px;
	line-height: 100px;
	padding: 10px;
	margin: 5px;
}

.prof_div {
	/* display: inline-block; */
	float: left;
	width: 50px;
	height: 100%;
	text-align: center;
	border: solid 1px black;
}

.div_act {
	float: left;
	width: 800px;
	height: 100%;
	text-align: center;
	margin-left: 20px;
	margin-top: -8px;
}

.ala_cont {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 16.5px;
}

.eachPost {
	width: 410px;
	height: 375px;
	margin: 40px auto;
	background-color: white;
	padding: 10px;
	border: solid 1px grey;
}

.wrtInfo {
	width: 100%;
	height: 35px;
	line-height: 35px;
}

.wrtProf {
	/* display: inline-block; */
	float: left;
	width: 35px;
	height: 35px;
	margin: 0 10px;
	border: solid 1px black;
}

.wrter {
	float: left;
	width: 100px;
	height: 30px;
	line-height: 35px;
	font-size: 16px;
}

.time {
	float: left;
	width: 150px;
	height: 30px;
	line-height: 35px;
	font-size: 12px;
}

.like-butt {
	display: flex;
	position: inherit;
	float: right;
	width: 35px;
	height: 35px;
	text-align: center;
}

.postCont {
	margin-top: 10px;
	width: 100%;
	height: 277px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	line-height: 270px;
}

.e-d-img {
	margin: auto auto;
	margin-top: 7px;
	background-position: -50px -370px;
	height: 25px;
	width: 25px;
	background-image:
		url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_c14ffe44a4f6.png/c14ffe44a4f6.png);
}

.e-d-img:hover { /* img 마우스 오버시*/
	cursor: pointer;
	transform: scale(1.1);
}

.like-img {
	margin: auto auto;
	margin-top: 7px;
	background-position: -233px -370px;
	height: 25px;
	width: 25px;
	background-image:
		url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_c14ffe44a4f6.png/c14ffe44a4f6.png);
}

.like-img:hover { /* img 마우스 오버시*/
	cursor: pointer;
	transform: scale(1.1);
}

.comt-img {
	margin: auto auto;
	margin-top: 7px;
	background-position: -338px -344px;
	height: 24px;
	width: 24px;
	background-image:
		url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_c14ffe44a4f6.png/c14ffe44a4f6.png);
}

.comt-img:hover { /* img 마우스 오버시*/
	cursor: pointer;
	transform: scale(1.1);
}

.rev-img {
	margin: auto auto;
	margin-top: 7px;
	background-position: -130px -370px;
	height: 24px;
	width: 24px;
	background-image:
		url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_c14ffe44a4f6.png/c14ffe44a4f6.png);
}

.rev-img:hover { /* img 마우스 오버시*/
	cursor: pointer;
	transform: scale(1.1);
}

.etcdiv {
	float: left;
	width: 300px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.modifdiv {
	float: right;
	margin: 7px;
	height: 25px;
	width: 25px;
	background-position: -50px -394px;
	background-image:
		url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_c14ffe44a4f6.png/c14ffe44a4f6.png);
}

.modifdiv:hover { /* img 마우스 오버시*/
	cursor: pointer;
	transform: scale(1.1);
}

.book-pic {
	float: left;
	width: 200px;
	height: 100%;
}

.genre-name {
	float: left;
	margin-top: 5px;
	width: 160px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}

.book-name {
	float: left;
	width: 160px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}

.post-body {
	float: left;
	width: 175px;
	height: 170px;
	line-height: 25px;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a:visited {
	color: black;
}

.w-x-btn {
	margin: 5px;
	width: 5px;
	height: 5px;
	line-height: 5px;
	font-size: 13px;
}

.w-b-input {
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.w-e-sel {
	float: left;
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin: 10px auto;
}

.wrt-div {
	width: 100%;
	height: 220px;
	line-height: 220px;
	text-align: center;
}

.wrt-b-img {
	float: left;
	width: 195px;
	height: auto;
	text-align: center;
	border: solid 1px white;
	/* display: none; */
}

.wrt-body {
	float: left;
	width: 100%;
	line-height: 255px;
	padding: 10px;
	/* margin-left: 15px; */
	margin: 0 auto;
	text-align: center;
}

.sel-wrt-b-info {
	float: left;
	width: 275px;
	height: 200px;
	line-height: 200px;
	margin-bottom: 30px;
	font-size: 15px;
	/* display: none; */
}

.-a-t {
	float: left;
	width: 100%;
	height: 150px;
	line-height: 1;
	resize: none;
}

.wrt-butt {
	float: left;
	width: 200px;
	height: 30px;
	line-height: 27px;
}

.wrt-last {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 10px 15px 0px 15px;
}

.hash-input {
	float: left;
	width: 500px;
	height: 40px;
	line-height: 40px;
}

.-s-b-submit {
	float: right;
	width: 130px;
	height: 40px;
	line-height: 40px;
}

.-s-rst {
	width: 100%;
	padding: 10px 30px;
	height: 55px;
	line-height: 15px;
	text-align: center;
	font-size: 30px;
}

.w100perh300 {
	width: 100%;
	height: 300px;
	line-height: 230px;
	margin: 10px auto;
	border-bottom: 1px solid black;
}

.-s-b-img {
	float: left;
	width: 150px;
	height: 200px;
	margin-left: 15px;
	text-align: center;
	margin-left: 15px;
}

.-s-b-info {
	float: left;
	text-align: center;
	width: 530px;
	height: 20px;
	line-height: 20px;
	margin-left: 30px;
	margin-top: 30px;
	font-size: 20px;
	overflow: auto;
	text-overflow: ellipsis;
}

.w100-pt10 {
	width: 100%;
	padding-top: 10px;
	height: 60px;
}

.w100-h500 {
	width: 100%;
	height: 450px;
	border-bottom: 1px solid black;
}

.w100-h390 {
	width: 100%;
	height: 390px;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}

.w500-h450 {
	float: left;
	width: 500px;
	height: auto;
	padding: 10px;
}

.genre-pad {
	float: left;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	padding-left: 20px;
}

.detail-body {
	float: left;
	width: 280px;
	height: 225px;
	line-height: 25px;
	margin: 25px auto;
	padding: 15px;
	text-align: left;
}

.w100-h35 {
	float: left;
	width: 100%;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
}

.w100-h95 {
	width: 100%;
	height: 110px;
	/* border-bottom: 1px solid Black; */
}

.w450-h400 {
	width: 450px;
	height: 400px;
	float: left;
	padding: 10px;
}

.hidcommt {
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	z-index: 4;
}

.comwrter {
	float: left;
	width: 80px;
	height: 50px;
	line-height: 50px;
	/* padding: 5px; */
	text-align: center;
	font-size: 13px;
	border-right: 1px solid black;
}

.combody {
	float: left;
	width: 270px;
	height: 50px;
	font-size: 13px;
	/* resize: none; */
	margin-left: 20px;
	border: 1px solid black;
}

.listcomt {
	width: 100%;
	height: 30px;
	padding-left: 10px;
	border-bottom: 1px solid black;
}

.comsubbtn {
	width: 50px;
	height: 30px;
	margin-top: 8px;
	float: left;
	margin-left: 10px;
}

.h30-m10 {
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	margin-left: 10px;
}

.w100-h40 {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.fl-fs13 {
	float: left;
	font-size: 13px;
	color: black;
}

.fl-fs10 {
	float: left;
	width: 80px;
	height: 40px;
	font-size: 10px;
	color: black;
	margin-right: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fl-fs15 {
	float: left;
	font-size: 15px;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
	height: 40px;
	white-space: nowrap;
}

.firstModal {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0); /* Fallback colour */
	background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.r-x-btn {
	margin: 5px;
	width: 5px;
	height: 5px;
	line-height: 5px;
	font-size: 13px;
}

.editPosts {
	display: none;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	resize: none;
	font-size: 13px;
}

.editButton {
	display: none;
	float: right;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
}

.emotiondiv {
	float: left;
	width: 200px;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	display: none;
}