<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
			PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
		
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
	</settings>
	
	<typeAliases> 
	<!-- vo클래스 별칭주기 -->
		<typeAlias alias="scdVO" type="com.pageturner.cls.scd.ScdVO" />
		<package name="com.pageturner.cls.vo" />
		<!-- <typeAlias alias="mVO" type="com.pageturner.cls.vo.MemberVO"/>
		<typeAlias alias="mainVO" type="com.pageturner.cls.vo.MainVO"/>
		<typeAlias alias="pVO" type="com.pageturner.cls.vo.PostsVO" />
		<typeAlias alias="bVO" type="com.pageturner.cls.vo.BookVO"/>
		<typeAlias alias="fVO" type="com.pageturner.cls.vo.ProfileVO"/> -->
	</typeAliases>
	
	<mappers>
		<!-- <package name="com/pageturner/cls/sql" /> -->
		<mapper resource="com/pageturner/cls/sql/MemberSQL.xml"/>
		<mapper resource="com/pageturner/cls/sql/MainSQL.xml"/>
		<mapper resource="com/pageturner/cls/sql/PostsSQL.xml" />
		<mapper resource="com/pageturner/cls/sql/MyPageSQL.xml"/>
		<mapper resource="com/pageturner/cls/sql/FallowSQL.xml"/>
		<mapper resource="com/pageturner/cls/sql/AlarmSQL.xml"/>
		<mapper resource="com/pageturner/cls/sql/BookSQL.xml"/>
		<mapper resource="com/pageturner/cls/sql/LikeSQL.xml"/>
		<mapper resource="com/pageturner/cls/scd/ScdSQL.xml" />
		<mapper resource="com/pageturner/cls/sql/SearchSQL.xml" />
		<!-- <mapper resource="com/pageturner/cls/sql/*SQL.xml" /> --> 
	</mappers>
</configuration>		